.well
  h1 Welcome to Starter Rails App
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque facilisis felis ac eros euismod maximus. Maecenas convallis eros at urna porta commodo. Sed pretium, mauris ut dignissim consequat, elit turpis laoreet purus, ut laoreet ligula lorem eget massa. Cras ut nibh et dolor convallis pulvinar. Vivamus feugiat, augue non laoreet molestie, leo mi pulvinar diam, vitae vehicula augue erat ut leo. Vestibulum erat urna, dignissim ut blandit vitae, euismod eu massa. Aliquam et placerat ante. Vestibulum at lectus ut neque maximus pulvinar non ac enim. Pellentesque justo risus, gravida mattis justo quis, mattis molestie arcu.