/*
 *= require ngtoast/ngToast
 *= require ngtoast/ngToast-animations

 *= require angular-bootstrap/ui-bootstrap-csp
 *= require custom
 */

@import "bootstrap-sprockets";
@import "bootswatch/superhero/variables";
@import "bootstrap";
@import "bootswatch/superhero/bootswatch";

$nprogress-color: #0DE481;
$nprogress-height: 4px;
$nprogress-zindex: 10100;

@import 'nprogress';
@import 'nprogress-bootstrap';
